.header-gradient {
  background: #00aaff;
  background: linear-gradient(to right, #00aaff 0%, #c354cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-header-gradient {
  background: #dea53a;
  background: linear-gradient(to right, #dea53a 0%, #b9b9b9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
